.about-us {
    .about-us-inner {
        background: rgba(223, 223, 227, 0.25);
    }
    .container {
        max-width: 950px;
        width: 90%;
        margin: 0 auto;
    }
    h2 {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 55px;
        letter-spacing: 0.184221px;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 15px;

        @media (max-width:991px) {
            font-size: 30px;
            line-height: 45px;
        }
    }
    .about-detail {
        padding: 125px 0;
        @media (max-width:991px) {
            padding: 80px 0;
        }
        @media (max-width:767px) {
            padding: 50px 20px;
        }
        .item {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 48px;
            max-width: 560px;
            width: 100%;
            margin: 0 auto;
            @media (max-width:767px) {
                grid-template-columns: 1fr;
            }
            .thumbnail {
                text-align: center;
                img {
                    height: 180px;
                    margin: 0 auto;
                }
            }
            h5 {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #151414;
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 40px;
                @media (max-width:767px) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }
            p {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #2D2E2E;
                padding-left: 28px;
                margin-bottom: 40px;
                position: relative;
                @media (max-width:767px) {
                    margin-bottom: 20px;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background: #1E1D1B;
                }
            }
            a {
                font-family: 'Inter';
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
        }

        .slick-next {
            right: -10px;
            z-index: 1;
        }
        .slick-prev {
            left: -4px;
            z-index: 1;
        }

        .slick-prev:before, .slick-next:before {
            content: '';
            background: url(../images/arrow-right-black.svg) no-repeat;
            width: 14px;
            height: 25px;
            display: block;
        }
        .slick-prev:before {
            transform: rotate(180deg);
        }
    }
}