/* 
font-family: 'Montserrat';
font-family: 'Neuton';
font-family: 'Mukta Vaani';
font-family: 'DM Sans';
font-family: 'Open Sans Condensed';
font-family: 'Inter'; 
*/

/* variables--css--Start */
:root {
  --font: brown;
}

/* variables--css--End */
/* global--css--start
   */
*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g-btn {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.184221px;
  text-transform: capitalize;
  color: #000000;
  padding: 9px 23px;
  height: 45px;
  background: #ffbe2e;
  border-radius: 10px;
}
.s-animation {
  animation: showAnim 1s forwards;
}
.mb-none {
  @media (max-width: 768px) {
    display: none;
  }
}
@keyframes showAnim {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
  }
}
img {
  max-width: 100%;
  height: auto;
}
/* global--css--End */
