.shop-store {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  align-items: flex-start;
  padding-top: 46px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 25px 15px;
  }

  .slidebar-wrapper {
    max-width: 195px;
    width: 100%;

    .tg-brands {
      display: none;

      @media only screen and (max-width: 768px) {
        display: block;
        padding: 9px;
        line-height: 1;
        height: 36px;
        border-radius: 4px;
        margin-left: auto;
      }
    }

    @media only screen and (max-width: 1200px) {
      max-width: 75px;
    }

    @media only screen and (max-width: 768px) {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 25px;
      transition: 0.3s all ease-in-out;
    }

    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 32px;
      color: #000000;
      margin-bottom: 29px;

      @media only screen and (max-width: 1200px) {
        width: 150px;
        margin-top: -34px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    .items-wrappre {
      @media only screen and (max-width: 768px) {
        width: 100%;
        height: 0;
        overflow: hidden;
        transform-origin: top;
        margin: 10px 0 0;
      }

      ul {
        @media only screen and (max-width: 768px) {
          padding: 15px;
          height: calc(100vh - 340px);
        }

        li {
          margin-bottom: 9px;

          a {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 1140px) {
              width: 40px;

              @media only screen and (max-width: 768px) {
                width: 100%;
                gap: 15px;
              }
            }

            .item-icon {
              width: 40px;
              height: 40px;
              background: #ffffff;
              border: 0.5px solid #eeeaea;
              border-radius: 50%;
              margin-right: 17px;

              @media only screen and (max-width: 1140px) {
                margin-right: 0px;
              }
            }

            span {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 1;
              color: #000000;

              @media only screen and (max-width: 1200px) {
                display: none;

                @media only screen and (max-width: 768px) {
                  display: inline-block !important;
                }
              }
            }
          }
        }
      }
    }

    .change {
      @media only screen and (max-width: 768px) {
        display: block;
        height: calc(100vh - 322px);
        overflow-y: auto;
        animation: showAnim 1s forwards;
      }
    }
  }

  .shop-container {
    max-width: calc(100% - 200px);
    width: 100%;

    @media only screen and (max-width: 992px) {
      max-width: calc(100% - 75px);

      @media only screen and (max-width: 768px) {
        max-width: calc(100%);
      }
    }

    .bb-bar {
      margin-bottom: 187px;
    }
  }
}

.sidebar-add-wrqapper {
  margin-top: 500%;
  padding: 30px 27px;
  background: rgba(242, 241, 239, 0.5);
  margin-left: -42%;
  margin-right: 46px;

  @media only screen and (max-width: 1366px) {
    padding: 30px 16px;
    margin-left: -9%;
    margin-right: 20px;

    @media only screen and (max-width: 1366px) {
      display: none;
    }
  }

  .sidebar-add-card {
    .sa-card-img {
      padding: 30px 10px 0;
      font-size: 0;

      img {
        width: 100%;
      }
    }

    .sa-body {
      min-height: 378px;
      background: #000000;
      padding: 55px 20px 0;
      @media only screen and (max-width: 1366px) {
        display: none;
      }

      p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.184221px;
        text-transform: capitalize;
        color: #fefdfd;
        margin-bottom: 50px;
      }

      a {
        font-size: 16px;
        line-height: 1.2;
        padding: 7px 15px;
        height: 32px;
      }
    }
  }
}
